<!-- 
 <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     

    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content [fullscreen]="true">
  
  <swiper-container  
  (slidechange)="swiperSlideChange ($event)"

    [loop]="true"
    [pagination]="true">
    
    <swiper-slide *ngFor="let image of contentLists; let i = index" >
      <img [src]="image.image"/>

      <!--serach -->
      <ion-searchbar [debounce]="1000" [(ngModel)]="SearchText" (ionInput)="handleInput(i)" > </ion-searchbar>


      <!-- List for the image -->
    <ion-list>
      <ion-item *ngFor="let item of  filteredLists[i]">
        {{ item }}
      </ion-item>
    </ion-list>

    </swiper-slide>
  </swiper-container> 

  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="presentAlert()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
